.order {
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    color: var(--dark-color);
    padding: 0 20px;
}

.order__textfields {
    max-width: 400px;
    margin: 0 auto 50px auto;
}

.order__textfields input {
    font-family: 'Fira Sans', sans-serif;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background: var(--light-color);
}

.order__textfields input:nth-of-type(1),
.order__textfields input:nth-of-type(2) {
    margin-bottom: 20px;
}

.order__textfields input::placeholder {
    font-size: 16px;
    color: var(--secondary-color);
}

.calendar {
    max-width: 400px;
    background: var(--footer-background);
    margin: 0 auto 50px auto;
}

.month_indicator {
    text-align: center;
    padding: 10px 0;
}

.day_of_week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day_of_week__item {
    padding: 10px;
}

.date_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.date_grid__item {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: var(--dark-color);
    width: 100%;
    height: 100%;
}

.date_grid__radio {
    position: absolute;
    width: 0;
    height: 0;
}

.date_grid__label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.date_grid__label:hover {
    background: var(--secondary-color);
}

.date_grid__radio:checked ~ .date_grid__label {
    background: var(--primary-color);
}

.times__list {
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0 auto 40px auto;
}

.times__item {
    width: 60px;
    position: relative;
    text-align: center;
    list-style-type: none;
}

.times__radio {
    position: absolute;
    width: 0;
    height: 0;
}

.times__label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.times__label:hover {
    background: var(--secondary-color);
}

.times__radio:checked ~ .times__label {
    background: var(--primary-color);
}

.master {
    max-width: 400px;
    margin: 0 auto 50px auto;
}

.service__list {
    max-width: 400px;
    margin: 0 auto 50px auto;
}

.service__item {
    list-style-type: none;
}

.service__radio {
    position: absolute;
    width: 0;
    height: 0;
}

.service__label {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.service__label:hover {
    background: var(--secondary-color);
}

.service__radio:checked ~ .service__label {
    background: var(--primary-color);
}

.service__title {
    word-break: break-word;
}

.service__price {
    flex-shrink: 0;
}

.order__button {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background: none;
    margin: 0 auto 50px auto;
    padding: 10px 30px;
    cursor: pointer;
}

.order__button:hover,
.order__button:focus,
.order__button:active {
    color: var(--light-color);
    background: var(--primary-color);
    transition: 0.5s;
}