.carousel__container {
    max-width: 70%;
    margin: 0 auto;
}

.carousel__img_container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.carousel__img_container:hover {
    z-index: -1;
}

.carousel__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {

    .carousel__container {
        max-width: 90%;
    }

}

@media screen and (max-width: 475px) {

    .carousel__container {
        max-width: 100%;
    }

    .carousel__img_container {

        height: 300px;
    }

}