.anchor__container {
    position: relative;
}

.anchor {
    position: absolute;
    top: -140px;
}

.cover {
    margin: 80px 0 100px 0;
}

.cover__header {
    font-family: 'Cormorant Infant', serif;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--dark-color);
}

.cover__offer {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: var(--secondary-color);
    margin: 50px 0;
}

.cover__button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background: none;
    padding: 10px 30px;
    cursor: pointer;
}

.cover__button:hover,
.cover__button:focus,
.cover__button:active {
    color: var(--light-color);
    background: var(--primary-color);
    transition: 0.5s;
}

.cover__button_link {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 1000px) {

    .cover {
        margin: 40px 0 80px 0;
    }

    .cover__header {
        font-size: 48px;
    }

}


@media screen and (max-width: 768px) {

    .cover__header {
        font-size: 30px;
        word-wrap: break-word;
    }
}


@media screen and (max-width: 475px) {

    .cover {
        margin: 40px 0 50px 0;
    }

    .cover__header {
        font-size: 24px;
        word-wrap: break-word;
    }
}