.navbar {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
    position: sticky;
    top: 0;
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: lightgray 0px 25px 10px -25px;
    border-bottom: 1px solid lightgray;
    z-index: 10;
    margin: 0 auto;
    padding: 40px 50px;
}

.navbar__logo {
    font-family: 'Cormorant Infant', serif;
    font-size: 36px;
    font-weight: 400;
}

.navbar__icons {
    display: none;
}

.navbar__icons svg {
    fill: var(--secondary-color);
    cursor: pointer;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar__item {
    list-style-type: none;
    cursor: pointer;
}

.navbar__item:hover,
.navbar__item:focus,
.navbar__item:active {
    color: var(--primary-color);
}

.navbar__link {
    text-decoration: none;
    color: inherit;
}

.navbar__contacts {
    font-size: 14px;
    text-align: right;
}


@media screen and (max-width: 1000px) {

    .navbar {
        padding: 20px 50px;
        box-shadow: lightgray 0 10px 15px -10px;
    }

    .navbar__icons {
        display: block;
    }

    .navbar__list {
        display: none;
    }

    .navbar__list_active {
        position: absolute;
        left: 0;
        top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
        width: 100%;
        background: var(--light-color);
        box-shadow: gray 0 10px 15px -10px;
        padding: 30px 50px;
    }

    .navbar__item:not(.navbar__item:last-of-type) {
        margin-bottom: 30px;
    }

    .navbar__contacts {
        display: none;
    }

}

@media screen and (max-width: 475px) {

    .navbar {
        padding: 20px 20px;
    }

    .navbar__list_active {
        top: 80px;
        align-items: center;
        padding: 20px 20px 30px 20px;
    }
}