.footer {
    font-family: 'Fira Sans', sans-serif;
    color: var(--secondary-color);
    background: var(--footer-background);
    padding: 20px;
}

.footer__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer__logo {
    font-family: 'Cormorant Infant', serif;
    font-size: 36px;
    font-weight: 400;
}

.footer__list {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer__item {
    list-style-type: none;
    cursor: pointer;
}

.footer__item:hover,
.footer__item:focus,
.footer__item:active {
    color: var(--primary-color);
}

.footer__link {
    text-decoration: none;
    color: inherit;
}

.footer__contacts {
    font-size: 12px;
}

.footer__rights p {
    font-size: 12px !important;
}


@media screen and (max-width: 1000px) {
    
    .footer__container {
        grid-template-columns: 1fr;
        margin-bottom: 10px;
    }

    .footer__logo {
        text-align: center;
    }

    .footer__list {
        display: flex;
        /* grid-template-columns: repeat(auto-fit, minmax(auto, auto)); */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .footer__item {
        margin: 0 20px 0 0;
        flex-shrink: 0;
    }

    .footer__contacts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .footer__rights {
        text-align: center;
    }
}

@media screen and (max-width: 475px) {
    
    .footer {
        padding: 10px;
    }

    .footer__list {
        font-size: 14px;
    }

}