:root {
  --light-color: #FFFCFA;
  --dark-color: #1D1C1B;
  --black-color: #222222;
  --primary-color: #968981;
  --secondary-color: #868686;
  --footer-background: #F6F2EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  background-color: var(--light-color);
}

.App {
  margin: 0 auto;
}