.anchor__container {
    position: relative;
}

.anchor {
    position: absolute;
    top: -140px;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}

.contacts__header {
    max-width: 366px;
    font-family: 'Cormorant Infant', serif;
    font-size: 64px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--dark-color);
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__item {
    display: grid;
    grid-template-columns: 30% 1fr;
    list-style-type: none;
}

.contacts address {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
}

.contacts__title {
    color: var(--primary-color);
}

.contacts__data {
    color: var(--secondary-color);
}



@media screen and (max-width: 1000px) {

    .contacts {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .contacts__header {
        font-size: 48px;
    }



}

@media screen and (max-width: 768px) {

    .contacts {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contacts__header {
        font-size: 30px;
        max-width: 100%;
        text-align: center;
    }

    .contacts__list {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }

}